<div class="jscheduler_ui-grid">
    {{ #hseps }}
    <div class="jscheduler_ui-hsep"
        style="position: absolute; 
               left: {{ style.left }};
               top: 0;
               height: 100%;
               width: 1px;
              "
    >
    </div>
    {{ /hseps }}

    {{#vseps}}
    <div class="jscheduler_ui-vsep"
          style="position: absolute; 
                 top: {{ style.top }};
                 left: 0;
                 width: 100%;
                 height: 1px;"
    >
    </div>
    {{/vseps}}
</div>