<!-- jscheduler_ui-day_view-header jscheduler_ui-daterange -->
<table 
    class="jscheduler_ui-daysview"
    style="width: 100%; 
           table-layout: fixed; 
           flex: 1 1 auto;"
>    
    <thead>
        {{# headers.length }}
        <tr>
            <td style="width: {{ data.xaxis_width }}">
            </td>
            {{# headers }}
            <th style="width: {{ data.column_width }};
                       text-align: center" 
                class="jscheduler_ui-daterange-header jscheduler_ui-day-header"
            >
                {{ label }}
            </th>
            {{/ headers }}
        </tr>
        {{/ headers.length }}

        <tr id="{{ data.header_id }}" data-jscheduler_ui-droppable-type="timeline">
            <td style="width: {{ data.xaxis_width }}"></td>
            <td class="jscheduler_ui-daterange-row" 
                colspan="{{ columns.length }}"
            >
                {{> events_row }}
            </td>
        </tr>
    </thead>

    <tbody class="jscheduler_ui-daysview-columns"
           style="position: relative" 
           id="{{ data.body_id }}"
           data-jscheduler_ui-droppable-type="days">
        <tr>

            <th style="width: {{ data.xaxis_width }}"
                data-hour>
                
                <div style='position: absolute; 
                            top: 0; 
                            left: 0; 
                            right: 0; 
                            bottom: 0;
                           '
                >
                    {{# rows }}
                        <div class="jscheduler_ui-daysview-row"
                             style="height: {{ data.row_height }};;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    position: relative;
                                   " 
                            >
                            <div style="width: {{ data.xaxis_width }};
                                       ">
                                {{ label }}
                            </div>
                            {{ ^is_first_row }}
                            <div class="jscheduler_ui-daysview-hsep"
                                 style="position: absolute;
                                        top: 0; 
                                        left: 0; 
                                        right: 0; 
                                        bottom: 0;
                                       ">
                                
                            </div>
                            {{ /is_first_row }}
                        </div>
                    {{/ rows }}
                </div>
                
            </th>

            {{# columns }}
            <td class   = "{{ className }}"
                style   = "width: {{ data.column_width }};
                           position: relative
                          "
            >
                {{> events_column }}
            </td>
            {{/ columns }}

        </tr>
    </tbody>    
</table>
