<table  id="{{ data.droppable_id }}"
        class="jscheduler_ui-timeline"
        style="width: 100%;     
               table-layout: fixed; 
               flex: 1 1 auto;
              "
        data-type-view="{{ data.type_view }}"
        data-jscheduler_ui-droppable-type="timeline"
>
    <thead>
        <tr>
            <td
                style="width: {{ data.yaxis_width }}"
            ></td>
            {{ #cols }}
                <th 
                    class = "{{ className }}"
                    style = "width: {{ data.column_width }};
                             text-align: center;
                            "
                >
                    {{ text }}
                    {{ #subtext }}
                    <br/>{{ . }}
                    {{ /subtext }}
                </th>
            {{ /cols }}
        </tr>
    </thead>
    
    <tbody>
        
        {{ #rows }} 
            <tr>
                <th data-text="{{ label }}">
                    {{ label }}
                    {{^label}}
                    <div style="min-height: 25px;"></div>
                    {{/label}}
                </th>
                <td colspan="{{ cols.length }}"
                    style="position: relative";
                >
                    
                    {{> cells_layout }}
                
                    <div class="jscheduler_ui-daterange-row" style="
                         position: absolute;
                         top: 0;
                         bottom: 0;
                         left: 0;
                         right: 0;
                        "
                    >
                        {{> events_row }}
                    </div>
                    
                </td>
            </tr>
        {{ /rows }}
        
    </tbody>
    
</table>