<table  class="jscheduler_ui-year_view"
        style="width: 100%; 
               table-layout: fixed; 
               flex: 1 1 auto;"
>
    <thead>
        <tr>
            <td style="width: {{ data.yacis_width }}">
            </td>
            {{ #headers }}
                <th style = "width: {{ data.column_width }};
                             overflow: hidden;
                             text-align: center
                            "
                >
                    {{ label }}
                </th>
            {{ /headers }}
        </tr>
        
    </thead>
    <tbody id="{{ data.body_id }}"
           data-jscheduler_ui-droppable-type="timeline" 
    >
        {{ #rows }}
            <tr>
                <th>
                    {{ label }}
                </th>
                <td colspan="{{ headers.length }}"
                    style="position: relative;
                          "
                >
                    <div style="position: absolute;
                                top: 0;
                                bottom: 0;
                                left:  {{ style.left }};
                                width: {{ style.width }};
                                background-color: white;
                               "
                    >      
                        
                        {{ > cells_layout }}
                        
                        <div class="jscheduler_ui-daterange-row" 
                             style="position: absolute;
                                    top: 10px;
                                    bottom: 0;
                                    left:   0;
                                    right:  0;
                             "
                        >
                            {{> events_row }}
                        </div>   
                    </div>
                    
                </td>
            </tr>
        {{ /rows }}
    </tbody>
</table>